{% extends '../layouts/layout.html' %}
{% block title %}Machine Leaning Scoring App | db test{% endblock title %}
{% block main %}
    <section id="contact">
        <div class="container-lg bg-light p-4 rounded-3 col-9 col-lg-4 position-absolute top-50 start-50 translate-middle">
            <div class="text-center">
                <h2 id="title">Credit Card</h2>
                <p class="lead">Veuillez entrer le nombre de client</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <!-- App form -->
                    <form action="/db_result/" method="POST" class="row">
                    {% csrf_token %}
                        <div class="col-md-8">
                            {% comment %} <label for="client_val">Nombre client</label>    {% endcomment %}
                            <input name = "nbre_client" type="number" class="form-control" id="client" placeholder="nombre client">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-secondary mb-3">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}