{% extends '../layouts/layout.html' %}
{% block title %}Machine Leaning Scoring App{% endblock title %}
{% block main %}
    <section id="contact">
        <div class="container-lg bg-light col-md-6 mt-4">
            <div class="text-center">
                <h1 id="title">Scoring App</h1>
                <div class="mt-4">
                  <p align="justify" class="lead">
                    Scoring App est une application qui permet de determiner si un client va se 
                    désabonné du service de carte de crédit en fonction des ces activité du mois précédent.
                  </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <!-- App form -->
                    
                </div>
            </div>
        </div>
    </section>
{% endblock main %}