{% extends '../layouts/layout.html' %}
{% block title %}
 Machine Leaning Scoring App
{% endblock title %}
{% block main %}
    <section id="contact">
        <div class="container-lg bg-light mt-4">
            <div class="text-center">
                <h2 id="title">Credit Card</h2>
                <p class="lead">Veuillez remplir ce formulaire...</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <!-- App form -->
                    <form id="form" action="/creditCard/single_result/" method="POST">
                     {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <label for="chang_nbre_trans" class="form-label">
                                    Changement du nombre de Transaction(T4
                                    par rapport au T)</label>
                                <div class="input-group mb-2">
                                    <input autofocus required name="chang_nbre_trans" class="form-control"
                                        id="chang_nbre_trans" placeholder="2.333" type="number" step=0.01>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="mont_total_trans" class="form-label">Montant Total
                                    de la transaction (12
                                    derniers
                                    mois)</label>
                                <div class="input-group mb-4">
                                    <input required id="mont_total_trans" name="mont_total_trans" class="form-control"
                                        placeholder="1887" type="number" step=0.01>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="subject" class="form-label">Solde Renouvelable Total sur la carte
                                    crédit</label>
                                <div class="input-group mb-4">
                                    <input required id="solde_renouv_total" name="solde_renouv_total"
                                        class="form-control" placeholder="864" type="number" step=0.01>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="subject" class="form-label">Nombre Total de produit détenus par le
                                    client</label>
                                <div class="input-group mb-4">
                                    <input required id="nbre_total_prod" name="nbre_total_prod" class="form-control"
                                        placeholder="4" type="number" step=0.01>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="subject" class="form-label">Nombre total de Transaction(12 derniers
                                    mois)</label>
                                <div class="input-group mb-4">
                                    <input required id="nbre_total_trans" name="nbre_total_trans" class="form-control"
                                        placeholder="20" type="number" step=0.01>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="subject" class="form-label">Nombre de Contact au cours des 12 derniers
                                    mois</label>
                                <div class="input-group mb-4">
                                    <input required id="nbre_contac" name="nbre_contact_12" class="form-control"
                                        placeholder="2" type="number" step=0.01>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="subject" class="form-label">Changement du Montant de la Transaction (T4 par
                                    rapport T1)</label>
                                <div class="input-group mb-4">
                                    <input required id="chang_mont_trans" name="chang_mont_trans" class="form-control"
                                        placeholder="2.594" type="number" step=0.01>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="subject" class="form-label">Nom et Prénom du Client</label>
                                <div class="input-group mb-4">
                                    <input id="nom_prenom" name="nom_prenom" class="form-control"
                                        placeholder="kevin KONE" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 text-center lg">
                            <button id="submit" type="submit" class="btn btn-secondary btn-lg">
                                <!-- <i class="bi bi-check-circle me-2"></i> -->
                                <span id="loader" class="bi bi-check-circle me-2" role="status"
                                    aria-hidden="true"></span>
                                Valider
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
